@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin-ext");

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    overflow-y: scroll;
    touch-action: pan-x pan-y;
}

.not-draggable {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -o-user-drag: none;
    -ms-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.80rem;
}

.ll-container {
    max-width: 430px;
    margin-top: 22px;
    margin-bottom: 45px;
}

@media (max-width: 430px) {
    .ll-container {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
}