.not-draggable {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -o-user-drag: none;
    -ms-user-select: none;
}

.ll-container {
    max-width: 430px;
    margin-top: 22px;
    margin-bottom: 45px;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --scrollbar: #555555;
        --scrollbar-track: #292929;
    }

    body {
        color: #FFFFFF;
        background-color: #000000;
    }
}

@media screen and (max-width: 430px) {
    .ll-container {
        width: 100%;
    }
}

.text-justify {
    text-align: justify !important;
}

h1 {
    font-size: 2.5em;
}
