.not-draggable {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -o-user-drag: none;
    -ms-user-select: none;
}

.ll-container {
    max-width: 430px;
    margin-top: 22px;
    margin-bottom: 45px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #FFFFFF;
        background-color: #000000;
    }
}

@media (max-width: 430px) {
    .ll-container {
        width: 100%;
    }
}

