@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=block');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=block');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif !important;
    color: #000000;
    background-color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    touch-action: pan-x pan-y;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: #007BFF;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}

h1 {
    font-size: 2.80rem;
}